<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <th:block th:replace="fragments/head.html :: head(title ='Product list')"></th:block>
</head>
	<body>
		<div th:replace="fragments/nav :: nav(active = 'PRODUCT')"></div>
		<div class="container">
			<h2>Ingredients</h2>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Name</th>
					<th>Brand</th>
					<th>Recipe ingredient</th>
					<th>Prepared item</th>
					<th>Details</th>
				</tr>
			    <tr th:each="product, stat:${productList}">
			    	<td th:text="${product.name}" />
			    	<td th:text="${product.brand}" />
			    	<td th:text="${product.ingredient}" />
			    	<td th:text="${product.premade}" />
			    	<td><a th:href="@{'/product/' + ${product.id}}">Details</a></td>
			    </tr>
			</table>
		</div>
	</body>
</html>
