<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Product Details</title>
	<div th:replace="fragments/head :: head">...</div>
</head>
	<body>
		<div th:replace="fragments/nav :: nav">...</div>
		<div class="container">
			<h2>Details</h2>
		    <p th:text="'Name: ' + ${product.name}" />
		    <p th:text="'Brand ' + ${product.brand}" />
		    <p th:text="'Serving Size: ' + ${product.servingSize}" />
		    <p th:text="'Unit Of Measure: ' + ${product.unitOfMeasure}" />
		    <p th:text="'Calories: ' + ${product.calories}" />
		    <p th:text="'Ingredients: ' + ${product.ingredients}" />
		    <p th:text="'Recipe ingredient: ' + ${product.ingredient}" />
		    <p th:text="'Prepared item: ' + ${product.premade}" />
		</div>
	</body>
</html>
