<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
<form action="#" th:action="@{/product}" th:object="${product}" method="post">
<fieldset>
<table>
  <thead>
    <tr>
      <th>
        <button type="submit" name="addRow" th:value="AddRow">Add Row</button>
        <button type="reset" name="reset" th:value="Reset">Reset</button>
        <button type="submit" name="save" th:value="Save">Save</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="nutrient, stat:*{nutrients}">  
       <td th:text="${stat.count}">1</td>
       <td>
        <input type="number" th:field="*{nutrients[__${stat.index}__].id}" />
      </td>
      <td>
        <button type="submit" name="removeRow" th:value="${stat.index}">Remove row</button>
      </td>
    </tr>
  </tbody>
</table>
</fieldset>
</form>
</body>
</html>